@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/globals" as *;

.header {
  @include padding-sides;
  padding-top: 1rem;
  display: flex;
  height: fit-content;

  &__menu {
    right: 17%;
    position: absolute;
    top: 15%;
  }
  &__list {
    display: none;
    margin: 0;
  }
  &__icon {
    width: 30px;
    padding-left: 1rem;
    height: fit-content;
  }
  &__dropdown-menu {
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 15%;
  }
  &__title {
    margin: 0;
    display: flex;
    color: $orange;
  }
  &__items {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  &__dropdown {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__text {
    list-style: none;
    margin: 0;
    display: flex;
  }
  &__signout {
    display: flex;
    height: fit-content;
    align-items: center;
  }
  &__dropdown-item {
    list-style: none;
  }
  @include tablet {
    &__text {
      padding-right: 1rem;
      margin: 0;
      display: flex;
      align-items: center;
    }

    &__icon {
      width: 40px;
    }
    &__title {
      padding-top: 0.5rem;
    }
    &__list {
      display: flex;
      padding-top: 0.5rem;
    }
  }
  // Show the menu items if the screen width is less than 1280px
  @include desktop {
    padding: 0rem 4rem;
    &__text {
      display: block;
    }
  }
}

.menu {
  @include tablet {
    display: none;
  }
}

.list {
  &__text {
    list-style: none;
    padding-left: 1rem;
  }
}
