@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/variables" as *;
@use "../../assets/styles/partials/globals" as *;

.features {
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $black;
  }
  &__subtext {
    color: $grey;
  }
}
